.container_register{
    margin-top: 102.5px;
}

.container_register .container_register_form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.container_register .container_register_form .title_register_form #title_register_form_h1{
    font-size: 1.4rem;
}

.container_register .container_register_form .subtitle_register_form{
    display: flex;
}

.container_register .container_register_form .subtitle_register_form #subtitle_register_form_h2{
    font-size: 0.8rem;
    font-weight: lighter;
    color: red;
}

.container_register .container_register_form #register_form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10px;
}

.container_register .container_register_form #register_form .form-group{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.container_register .container_register_form #register_form .form-group .input_register{
    border-radius: 3px;
    border: 1.5px solid gray;
    padding: 5px;
}

.container_register .container_register_form #register_form .form-group .input_avatar{
    font-size: 0.9rem;
}

.container_register .container_register_form #register_form .container_buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 7.5px;
}

.container_register .container_register_form #register_form .container_buttons .register_button_submit{
    background-color: rgba(110, 215, 110, 0.268);
    font-size: 1rem;
    padding: 3px;
    border-radius: 3px;
    border: 1.5px solid gray;
}

.container_register .container_register_form #register_form .container_buttons .register_button_reset{
    background-color: rgba(215, 110, 110, 0.268);
    font-size: 1rem;
    padding: 3px;
    border-radius: 3px;
    border: 1.5px solid gray;
}


@media (min-width: 460px){
    .container_register{
        margin-top: 10px;
    }
}


@media (min-width: 769px){
    .container_register .container_register_form #register_form .form-group{
        width: 325px;
    }
}
