.admin_table{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.admin_table .admin_title{
    font-size: 1.2rem;
    text-align: center;
}

.admin_table .admin_message{
    font-size: 1rem;
    text-align: center;
    padding-bottom: 10px;
}

.admin_table .table{
    border: solid 1px rgba(177, 175, 175, 0.581);
    border-radius: 3px;
    padding: 10px 20px;
    background-color: #7fc0e124;
}

.admin_table .table div{
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(184, 181, 181, 0.523);
}

.admin_table .table div.users{
    border-bottom: none;
}

.admin_table .table div h1{
    font-size: 1.2rem;
    font-weight: 500;
}

.admin_table .table div h1 i{
    font-size: 0.8rem;
}

.admin_table .table div section p{
    padding: 6px;
}

.admin_table .table div section p a{
    font-size: 1rem;
    color: black;
    background-color: white;
    text-decoration: none;
    border: 1.5px solid rgb(73, 73, 73);
    border-radius: 3px;
    padding: 3px 4px;
}

@media (min-width: 769px){
    .admin_table .table{
        width: 850px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        text-align: start;
    }

    .admin_table .table div{
        padding-top: none;
        padding-bottom: none;
        border-bottom: none;
    }
}